# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual env
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Build / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
